.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Board-Border {
  border: .1em solid rgb(197, 202, 209);
}

.row {
  display: flex;
  height: 5em;
}

.column {
  display: flex;
  justify-content: center;
  border: .1em solid rgb(197, 202, 209);
  width: 5em;
  height: 5em;
  align-items: center;
}

.square {
  background-color: rgb(179, 190, 194);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.square:hover {
  background-color: rgb(142, 173, 202);
}

.Difficulty-Menu {
  display: flex;
  justify-content: center;
  align-content: center;
  clear: both;
  padding: 20px;
}

.Restart-Button {
  float: right;
  padding: .3em .6em;
  margin-left: 10em;
  background-color: gray;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.Restart-Button {
  opacity: .8;
}

.Result {
  color: black;
  padding-top: 2em;
}
